@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

/* ========================= */
/* ==========!MAIN========== */
/* ========================= */

/* ----------!BODY---------- */
body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #1d2c3c;
    }

/* ========================== */
/* ==========!BASIC========== */
/* ========================== */

/* ----------!H1---------- */
h1 {
    font-weight: 400;
    color: #006c8c;
    }

/* ----------!H2---------- */
h2 {
    margin-top: -7px;
    margin-bottom: -8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    }

/* ----------!H3---------- */
h3 {
    margin-top: -6px;
    margin-bottom: -9px;
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    color: #006c8c;
    }

/* ----------!H4---------- */
h4 {
    font-weight: 700;
    }

/* ----------!LIST---------- */
ol:not([class*="list-reset"]):not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pagination"]):not([class*="carousel-indicators"]),
ul:not([class*="list-reset"]):not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pagination"]):not([class*="carousel-indicators"]) {
    padding-left: 50px;
    }

/* ----------!ANCHOR---------- */
a {
    font-weight: 400;
    color: #006c8c;
    }
a:active:not([class*="btn"]),
a:hover:not([class*="btn"]),
a:focus:not([class*="btn"]) {
    text-decoration: none;
    color: #1d2c3c;
    }

/* ----------!UNDERLINE---------- */
u {
    color: #1d2c3c;
    }

/* ----------!BLOCKQUOTE---------- */
blockquote {
    border-left: 5px solid #f7f7f7;
    padding: 20px 25px;
    }

/* =========================== */
/* ==========!BUTTON========== */
/* =========================== */

/* ----------!GENERAL---------- */
.btn {
    border-width: 3px;
    }
.btn:active,
.btn:hover,
.btn:focus {
    color: #fff;
    }

/* ----------!INITIAL---------- */
.btn-initial {
    min-width: 130px;
    }

/* ----------!DEFAULT---------- */
.btn-default {
    border-color: #006c8c;
    color: #006c8c;
    }
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
    background-color: #117d9d;
    color: #fff;
    }

/* ----------!MAIN---------- */
.btn-main {
    border-color: #f89c02;
    color: #f89c02;
    }
.btn-main:active,
.btn-main:hover,
.btn-main:focus {
    background-color: #f9ad13;
    color: #fff;
    }

/* ----------!SIZE---------- */
.btn-lg,
.btn-xl,
.btn-hg {
    padding: 7px 12px;
    font-size: 20px;
    line-height: 30px;
    }
@media (min-width: 576px) {
    .btn-auto {
        width: auto;
        display: inline-block;
        }
    }
@media (min-width: 992px) {
    .btn-xl {
        padding: 12px 17px;
        min-width: 210px;
        font-size: 27px;
        line-height: 30px;
        }
    }

/* ----------!TO-VIDEO---------- */
.to-video {
    min-width: unset;
    color: #fff !important;
    }

/* ========================= */
/* ==========!ICON========== */
/* ========================= */

/* ----------!PLAY---------- */
.icon-play,
.icon-play::before {
    display: flex;
    }
.icon-play::before {
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 10px;
    padding-top: 1px;
    padding-left: 2px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    content:'\25B6';
    align-items: center;
    justify-content: center;
    }

/* =============================== */
/* ==========!NAVIGATION========== */
/* =============================== */

/* ----------!DROPDOWN---------- */
.dropdown .dropdown-toggle::after {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
    margin-left: 6px;
    vertical-align: 6px;
    color: #f89c02;
    }
.dropdown .dropdown-toggle.no-caret::after {
    content: normal;
    }
.dropdown .dropdown-toggle .avatar {
    width: 30px;
    height: 30px;
    }
.dropdown .dropdown-menu {
    margin-top: -10px;
    padding: 9px 0;
    min-width: 210px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }
.dropdown .dropdown-menu,
.dropdown .dropdown-menu .dropdown-divider {
    border-color: #006c8c;
    }
.dropdown .dropdown-menu .dropdown-divider {
    margin: 9px 0 10px;
    }
.dropdown .dropdown-menu .dropdown-header,
.dropdown .dropdown-menu .dropdown-text,
.dropdown .dropdown-menu .dropdown-item {
    margin: 0;
    padding: 0 19px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    }
.dropdown .dropdown-menu .dropdown-header,
.dropdown .dropdown-menu .dropdown-text {
    color: #eaeaea;
    }
.dropdown .dropdown-menu .dropdown-item {
    color: #1d2c3c;
    cursor: pointer;
    }
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: #f7f7f7;
    color: #1d2c3c;
    }
.dropdown .dropdown-menu .dropdown-item.active,
.dropdown .dropdown-menu .dropdown-item.active:active,
.dropdown .dropdown-menu .dropdown-item.active:hover,
.dropdown .dropdown-menu .dropdown-item.active:focus {
    background-color: #006c8c;
    color: #fff;
    cursor: default;
    }
.dropdown .dropdown-menu .dropdown-item + .dropdown-item {
    margin-top: 5px;
    }

/* ----------!NAVBAR---------- */
.navbar .navbar-brand,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > button,
.navbar .navbar-action > li > .nav-link,
.navbar .navbar-action > li > .dropdown-toggle {
    font-weight: 300;
    }
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > button,
.navbar .navbar-action > li > .nav-link,
.navbar .navbar-action > li > .dropdown-toggle {
    background-color: transparent;
    margin: 0;
    padding: 25px 15px;
    font-size: 20px;
    line-height: 30px;
    }
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-search,
.navbar .navbar-menu,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a > .caret,
.navbar .navbar-nav > li > button,
.navbar .navbar-nav > li > button > .caret,
.navbar .navbar-action > li > .nav-link,
.navbar .navbar-action > li > .nav-link > .caret,
.navbar .navbar-action > li > .dropdown-toggle,
.navbar .navbar-action > li > .dropdown-toggle > .caret {
    color: #1d2c3c;
    }
.navbar .navbar-search:active,
.navbar .navbar-search:hover,
.navbar .navbar-search:focus,
.navbar .navbar-menu:active,
.navbar .navbar-menu:hover,
.navbar .navbar-menu:focus,
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > button:active,
.navbar .navbar-nav > li > button:hover,
.navbar .navbar-nav > li > button:focus,
.navbar .navbar-action > li > .nav-link:active,
.navbar .navbar-action > li > .nav-link:hover,
.navbar .navbar-action > li > .nav-link:focus,
.navbar .navbar-action > li > .dropdown-toggle:active,
.navbar .navbar-action > li > .dropdown-toggle:hover,
.navbar .navbar-action > li > .dropdown-toggle:focus,
.navbar .navbar-nav > li.show > a,
.navbar .navbar-nav > li.show > a:active,
.navbar .navbar-nav > li.show > a:hover,
.navbar .navbar-nav > li.show > a:focus,
.navbar .navbar-nav > li.show > button,
.navbar .navbar-nav > li.show > button:active,
.navbar .navbar-nav > li.show > button:hover,
.navbar .navbar-nav > li.show > button:focus,
.navbar .navbar-action > li.show > .nav-link,
.navbar .navbar-action > li.show > .nav-link:active,
.navbar .navbar-action > li.show > .nav-link:hover,
.navbar .navbar-action > li.show > .nav-link:focus,
.navbar .navbar-action > li.show > .dropdown-toggle,
.navbar .navbar-action > li.show > .dropdown-toggle:active,
.navbar .navbar-action > li.show > .dropdown-toggle:hover,
.navbar .navbar-action > li.show > .dropdown-toggle:focus {
    background-color: #f7f7f7;
    color: #1d2c3c;
    }
.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a.active:active,
.navbar .navbar-nav > li > a.active:hover,
.navbar .navbar-nav > li > a.active:focus,
.navbar .navbar-nav > li > button.active,
.navbar .navbar-nav > li > button.active:active,
.navbar .navbar-nav > li > button.active:hover,
.navbar .navbar-nav > li > button.active:focus,
.navbar .navbar-action > li > .nav-link.active,
.navbar .navbar-action > li > .nav-link.active:active,
.navbar .navbar-action > li > .nav-link.active:hover,
.navbar .navbar-action > li > .nav-link.active:focus,
.navbar .navbar-action > li > .dropdown-toggle.active,
.navbar .navbar-action > li > .dropdown-toggle.active:active,
.navbar .navbar-action > li > .dropdown-toggle.active:hover,
.navbar .navbar-action > li > .dropdown-toggle.active:focus,
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active > a:active,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus,
.navbar .navbar-nav > li.active > button,
.navbar .navbar-nav > li.active > button:active,
.navbar .navbar-nav > li.active > button:hover,
.navbar .navbar-nav > li.active > button:focus,
.navbar .navbar-action > li.active > .nav-link,
.navbar .navbar-action > li.active > .nav-link:active,
.navbar .navbar-action > li.active > .nav-link:hover,
.navbar .navbar-action > li.active > .nav-link:focus,
.navbar .navbar-action > li.active > .dropdown-toggle,
.navbar .navbar-action > li.active > .dropdown-toggle:active,
.navbar .navbar-action > li.active > .dropdown-toggle:hover,
.navbar .navbar-action > li.active > .dropdown-toggle:focus {
    background-color: transparent;
    color: #1d2c3c;
    cursor: default;
    }
.navbar .navbar-nav > li > a.no-focus:active,
.navbar .navbar-nav > li > a.no-focus:focus,
.navbar .navbar-nav > li > button.no-focus:active,
.navbar .navbar-nav > li > button.no-focus:focus,
.navbar .navbar-action > li > .nav-link.no-focus:active,
.navbar .navbar-action > li > .nav-link.no-focus:focus,
.navbar .navbar-action > li > .dropdown-toggle.no-focus:active,
.navbar .navbar-action > li > .dropdown-toggle.no-focus:focus {
    background-color: transparent;
    }
.navbar .navbar-action {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
.navbar .navbar-action .btn {
    margin: 0 15px;
    }
.navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    }
@media (min-width: 992px) {
    .navbar .navbar-brand {
        padding-top: 25px;
        padding-bottom: 25px;
        }
    }
.navbar .navbar-menu {
    padding-top: 18px;
    padding-bottom: 18px;
    }
@media (min-width: 992px) {
    .navbar .navbar-menu {
        padding-top: 33px;
        padding-bottom: 33px;
        }
    }

/* ----------!OFFCANVAS---------- */
.offcanvas-menu .logo + .nav {
    padding-top: 5px;
    }
.offcanvas-menu .nav > li > a,
.offcanvas-menu .nav > li > .btn,
.offcanvas-menu .nav > li.dropdown .dropdown-menu a {
    background-color: transparent;
    border: 0 none transparent;
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    display: block;
    cursor: pointer;
    }
.offcanvas-menu .nav > li > a,
.offcanvas-menu .nav > li > .btn,
.offcanvas-menu .nav > li.dropdown .dropdown-menu a {
    font-weight: 400;
    color: #fff;
    }
.offcanvas-menu .nav > li > a:active,
.offcanvas-menu .nav > li > a:hover,
.offcanvas-menu .nav > li > a:focus,
.offcanvas-menu .nav > li.show > a,
.offcanvas-menu .nav > li.show > a:active,
.offcanvas-menu .nav > li.show > a:hover,
.offcanvas-menu .nav > li.show > a:focus,
.offcanvas-menu .nav > li > .btn:active,
.offcanvas-menu .nav > li > .btn:hover,
.offcanvas-menu .nav > li > .btn:focus,
.offcanvas-menu .nav > li.show > .btn,
.offcanvas-menu .nav > li.show > .btn:active,
.offcanvas-menu .nav > li.show > .btn:hover,
.offcanvas-menu .nav > li.show > .btn:focus {
    background-color: transparent;
    color: #fff;
    }
.offcanvas-menu .nav > li > a.active,
.offcanvas-menu .nav > li > a.active:active,
.offcanvas-menu .nav > li > a.active:hover,
.offcanvas-menu .nav > li > a.active:focus,
.offcanvas-menu .nav > li > button.active,
.offcanvas-menu .nav > li > button.active:active,
.offcanvas-menu .nav > li > button.active:hover,
.offcanvas-menu .nav > li > button.active:focus,
.offcanvas-menu .nav > li > .btn.active,
.offcanvas-menu .nav > li > .btn.active:active,
.offcanvas-menu .nav > li > .btn.active:hover,
.offcanvas-menu .nav > li > .btn.active:focus,
.offcanvas-menu .nav > li.active > a,
.offcanvas-menu .nav > li.active > a:active,
.offcanvas-menu .nav > li.active > a:hover,
.offcanvas-menu .nav > li.active > a:focus,
.offcanvas-menu .nav > li.active > button,
.offcanvas-menu .nav > li.active > button:active,
.offcanvas-menu .nav > li.active > button:hover,
.offcanvas-menu .nav > li.active > button:focus,
.offcanvas-menu .nav > li.active > .btn,
.offcanvas-menu .nav > li.active > .btn:active,
.offcanvas-menu .nav > li.active > .btn:hover,
.offcanvas-menu .nav > li.active > .btn:focus {
    background-color: #1d2c3c;
    color: #fff;
    cursor: default;
    }
.offcanvas-menu .nav > li.dropdown .dropdown-menu {
    background-color: transparent;
    border: 0 none transparent;
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    box-shadow: none;
    }
.offcanvas-menu .nav > li.dropdown .dropdown-menu a {
    padding-left: 30px;
    }
.offcanvas-action > .btn {
    width: 100%;
    text-align: left;
    }

/* ========================= */
/* ==========!MENU========== */
/* ========================= */

/* ----------!LIST---------- */
.menu-list {
    padding-left: 0 !important;
    list-style: none !important;
    }

/* =========================== */
/* ==========!SOCIAL========== */
/* =========================== */

/* ----------!LIST---------- */
.social > li + li {
    padding-top: 0 !important;
    padding-left: 15px !important;
    }

/* ============================ */
/* ==========!ACCOUNT========== */
/* ============================ */

/* ----------!GUEST---------- */
.account-guest {
    margin-right: -15px;
    }

/* =============================== */
/* ==========!TRANSITION========== */
/* =============================== */

/* ----------!OFFCANVAS---------- */
.offcanvas-push {
    transition: transform 0.25s ease-out 0s;
    }
.offcanvas-push-out {
    transform: translateX(-80%);
    }

/* ========================== */
/* ==========!STYLE========== */
/* ========================== */

/* ----------!SELECTION---------- */
::selection {
    background-color: #117d9d;
    color: #fff;
    }

/* ----------!COLOR---------- */
.color-0 {
    background-color: transparent !important;
    }
.color-1 {
    background-color: #fff !important;
    }
.color-2 {
    background-color: #1d2c3c !important;
    }
.color-3 {
    background-color: #006c8c !important;
    }
.color-4 {
    background-color: #f89c02 !important;
    }
.color-5 {
    background-color: #f7f7f7 !important;
    }

/* ----------!TINT---------- */
.dark-20 {
	background: rgba(0, 0, 0, 0.2);
	}
.dark-30 {
	background: rgba(0, 0, 0, 0.3);
	}
.dark-50 {
	background: rgba(0, 0, 0, 0.5);
	}
.dark-80 {
	background: rgba(0, 0, 0, 0.8);
	}
.light-20 {
	background: rgba(255, 255, 255, 0.2);
	}
.light-30 {
	background: rgba(255, 255, 255, 0.3);
	}
.light-50 {
	background: rgba(255, 255, 255, 0.5);
	}
.light-80 {
	background: rgba(255, 255, 255, 0.8);
	}

/* ----------!OPACITY---------- */
.opacity-20 {
    opacity: 0.2;
    }
.opacity-30 {
    opacity: 0.3;
    }
.opacity-50 {
    opacity: 0.5;
    }
.opacity-80 {
    opacity: 0.8;
    }

/* ----------!BORDER---------- */
.style-border-top-grey {
    border-top: 1px solid #eaeaea;
    }
.style-border-top-grey .zone {
    margin-top: -1px;
    }

/* ----------!CHEAT---------- */
@media (min-width: 1200px) {
    .cheat-left {
        margin-left: -50px;
        }
    .cheat-right {
        margin-right: -50px;
        }
    .cheat-both {
        margin-left: -50px;
        margin-right: -50px;
        }
    }
@media (min-width: 1440px) {
    .cheat-left {
        margin-left: -80px;
        }
    .cheat-right {
        margin-right: -80px;
        }
    .cheat-both {
        margin-left: -80px;
        margin-right: -80px;
        }
    }

/* ----------!WIDTH---------- */
@media (min-width: 992px) {
    .width {
        margin: 0 auto;
        width: 720px;
        }
    }

/* =========================== */
/* ==========!EFFECT========== */
/* =========================== */

/* ----------!BASIC---------- */
.effect-image figure {
    background: #1d2c3c;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: default;
    }
.effect-image figure .image {
    position: relative;
    display: block;
    opacity: 0.8;
    }
.effect-image figure figcaption {
    padding: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    }
.effect-image figure figcaption::before,
.effect-image figure figcaption::after {
    pointer-events: none;
    }
.effect-image figure figcaption,
.effect-image figure figcaption > .link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }
.effect-image figure figcaption > .link {
    font-size: 0;
    text-indent: 200%;
    white-space: nowrap;
    opacity: 0;
    z-index: 1000;
    }

/* ----------!OSCAR---------- */
.effect-image .effect-oscar {
    background: #006c8c;
    }
.effect-image .effect-oscar .image {
    opacity: 1;
    transition: opacity 0.3s;
    }
.effect-image .effect-oscar figcaption {
    padding: 20px;
    }
@media (min-width: 992px) {
    .effect-image .effect-oscar figcaption {
        padding: 80px;
        }
    }
.effect-image .effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    }
@media (max-width: 991.98px) {
    .effect-image .effect-oscar figcaption::before {
        border: 0 none transparent;
        }
    }
.effect-image .effect-oscar figcaption h2,
.effect-image .effect-oscar figcaption h3,
.effect-image .effect-oscar figcaption h4 {
    opacity: 1;
    transition: opacity 0.3s;
    }
.effect-image .effect-oscar figcaption::before,
.effect-image .effect-oscar figcaption .caption {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s;
    }
.effect-image .effect-oscar:hover figcaption h2,
.effect-image .effect-oscar:hover figcaption h3,
.effect-image .effect-oscar:hover figcaption h4 {
    opacity: 0;
    }
.effect-image .effect-oscar:hover figcaption::before,
.effect-image .effect-oscar:hover figcaption .caption {
    opacity: 1;
    transform: scale(1);
    }
.effect-image .effect-oscar:hover .image {
    opacity: 0.1;
    }

/* ========================= */
/* ==========!TEXT========== */
/* ========================= */

/* ----------!H1---------- */
.carousel h1,
.hero h1 {
    margin-top: -6px;
    margin-bottom: -9px;
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    }
@media (min-width: 992px) {
    .carousel h1,
    .hero h1 {
        margin-top: -9px;
        margin-bottom: -11px;
        font-size: 55px;
        line-height: 60px;
        }
    }

/* ----------!H2---------- */
.carousel h2,
.hero h2 {
    margin-top: -7px;
    margin-bottom: -8px;
    margin-left: -2px !important;
    margin-right: -2px !important;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    }
@media (min-width: 992px) {
    .carousel h2,
    .hero h2 {
        margin-top: -6px;
        margin-bottom: -9px;
        font-size: 27px;
        line-height: 35px;
        }
    }

/* ----------!COPY---------- */
@media (min-width: 992px) {
    .copy h3 {
        margin-top: -7px;
        margin-bottom: -8px;
        font-size: 34px;
        line-height: 40px;
        }
    }

/* ----------!ACTION---------- */
@media (min-width: 992px) {
    .action p {
        margin-top: -6px;
        margin-bottom: -9px;
        font-size: 27px;
        line-height: 35px;
        }
    }
.action a {
    color: #f89c02;
	}
.action a:active:not([class*="btn"]),
.action a:hover:not([class*="btn"]),
.action a:focus:not([class*="btn"]) {
    text-decoration: none;
    color: #f9ad13;
    }

/* ========================== */
/* ==========!SPACE========== */
/* ========================== */

/* ----------!BETWEEN---------- */
h3 + h4 {
    padding-top: 46px;
    }
p + h1,
ol + h1,
ul + h1 {
    padding-top: 44px;
    }
p + h2,
ol + h2,
ul + h2,
h2 + h3,
p + h3,
ol + h3,
ul + h3 {
    padding-top: 74px;
    }
p + h4,
ol + h4,
ul + h4 {
    padding-top: 46px;
    }
p + h5,
ol + h5,
ul + h5,
p + h6,
ol + h6,
ul + h6 {
    padding-top: 48px;
    }

/* ----------!LIST---------- */
ol:not([class*="list-reset"]):not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pagination"]):not([class*="carousel-indicators"]) > li + li,
ul:not([class*="list-reset"]):not([class*="row"]):not([class*="nav"]):not([class*="navbar-nav"]):not([class*="dropdown-menu"]):not([class*="pagination"]):not([class*="carousel-indicators"]) > li + li {
    padding-top: 7px;
    }
ol + p,
ul + p {
    padding-top: 43px;
    }
h3 + ol,
h3 + ul {
    padding-top: 50px;
    }
p + ol,
p + ul {
    padding-top: 50px;
    }

/* ----------!H2---------- */
.carousel h1 + h2,
.hero h1 + h2 {
    padding-top: 23px;
    }
@media (min-width: 992px) {
    .carousel h1 + h2,
    .hero h1 + h2 {
        padding-top: 44px;
        }
    }

/* ----------!BUTTON---------- */
.btn + .btn {
    margin-left: 15px;
    }
@media (min-width: 992px) {
    .btn + .btn {
        margin-left: 30px;
        }
    }

/* ========================== */
/* ==========!MODAL========== */
/* ========================== */

/* ----------!MAIN---------- */
.modal .modal-dialog {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1380px;
    }
@media (min-width: 1440px) {
    .modal .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        }
    }
.modal-close.close {
    padding: 15px;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 20px;
    color: #fff;
    text-shadow: none;
    opacity: 0.2;
    z-index: 9999;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
.modal-close.close:hover,
.modal-close.close:focus {
    opacity: 0.8;
    }
.modal-close.close > span {
    margin-top: -3px;
    display: block;
    }

/* ----------!BACKDROP---------- */
.modal-backdrop.show {
    opacity: 0.8;
    }

/* ----------!TOTAL---------- */
.modal-total .modal-content {
    background-color: transparent;
    border: 0 none transparent;
    box-shadow: none;
    }
.modal-total .modal-content .modal-body {
    padding: 0;
    }
.modal-total .modal-content .modal-body iframe {
    background-color: #000;
    }

/* ----------!SEARCH---------- */
#modal-search .input-group > .form-control,
#modal-search .input-group > .input-group-addon,
#modal-search .input-group > .input-group-btn > .btn {
    height: 80px;
    padding: 10px 20px;
    font-size: 27px;
    line-height: 30px;
    }
#modal-search .input-group > .form-control {
    padding-right: 65px;
    z-index: 1;
    }
#modal-search .input-group > .form-submit {
    margin-left: -65px;
    width: 65px;
    z-index: 2;
    }
#modal-search .input-group > .input-group-btn > .btn {
    background-color: transparent;
    border: 0 none transparent !important;
    }

/* =============================== */
/* ==========!PAGINATION========== */
/* =============================== */

/* ----------!PAGE-LINK---------- */
.page-link,
.page-link:hover,
.page-link:focus {
    background-color: #fff;
    border-color: #1d2c3c;
    padding: 9px 14px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1d2c3c;
    outline: 0 none transparent;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
.page-link.active,
.page-link.active:active,
.page-link.active:hover,
.page-link.active:focus {
    background-color: transparent;
    color: #1d2c3c;
    cursor: default;
    }
.page-link-previous,
.page-link-next {
    min-width: 130px;
    }

/* ============================== */
/* ==========!SCROLL-TO========== */
/* ============================== */

/* ----------!MAIN---------- */
.scroll-to {
    border: 0 none transparent;
    padding: 20px;
    z-index: 9999;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }

/* ----------!ICON---------- */
.scroll-to > .scroll-to-icon {
    font-size: 27px;
    }

/* ----------!ICON-UP---------- */
.scroll-to > .scroll-to-icon-up {
    margin-top: -9px;
    margin-bottom: -8px;
    }

/* ----------!ICON-DOWN---------- */
.scroll-to > .scroll-to-icon-down {
    margin-top: -8px;
    margin-bottom: -9px;
    }

/* ----------!TOP---------- */
.scroll-to-top {
    background-color: #fff;
    margin: 15px;
    bottom: 0;
    right: 0;
    color: #1d2c3c !important;
    }

/* ============================= */
/* ==========!CAROUSEL========== */
/* ============================= */

/* ----------!MAIN---------- */
.carousel {
	min-height: 340px;
	overflow: hidden;
	cursor: default;
    color: #fff;
	}
@media (min-width: 992px) {
	.carousel {
		height: 550px;
		}
	}
.carousel .carousel-indicators {
	margin-bottom: 10px;
	}
.carousel .carousel-indicators > li {
	cursor: pointer;
	}
.carousel .carousel-inner,
.carousel .carousel-inner > .carousel-item {
	height: 100%;
	}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
	width: 5%;
	display: none;
	z-index: 15;
	}
@media (min-width: 992px) {
	.carousel .carousel-control-next,
	.carousel .carousel-control-prev {
		width: 10%;
		display: -ms-flexbox;
		display: flex;
		}
	}
.carousel .carousel-item {
    background-color: #fff;
    }

/* ========================= */
/* ==========!HERO========== */
/* ========================= */

/* ----------!PARENT---------- */
.hero {
    min-height: 340px;
    overflow: hidden;
    cursor: default;
    color: #fff;
    }
@media (min-width: 992px) {
    .hero {
        height: 550px;
        }
    }

/* ----------!SCROLL-TO---------- */
.hero .scroll-to {
    margin-bottom: 30px;
    bottom: 0;
    }

/* ============================ */
/* ==========!SECTION========== */
/* ============================ */

/* ----------!INDUSTRY---------- */
@media (min-width: 992px) {
    .industry figure {
        height: 340px;
    	}
    }
.industry .headline {
    padding: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 400;
	}

/* ----------!TESTIMONIAL---------- */
#testimonial {
    overflow: visible;
    }
#testimonial p {
    font-style: italic;
    }
@media (min-width: 992px) {
    #testimonial p {
        margin-top: -6px;
        margin-bottom: -9px;
        font-size: 27px;
        line-height: 35px;
        }
    }
#testimonial .icon-quote {
    margin-top: -25px;
    position: relative;
    font-size: 48px;
    color: #f89c02;
	}
#testimonial .icon-quote::after {
    background-color: #f7f7f7;
    margin-top: 25px;
    width: 210px;
    height: 3px;
    position: absolute;
    top: 0;
    content: '';
    }
#testimonial .icon-quote svg {
    background-color: #fff;
    padding: 10px;
    z-index: 1;
	}
#testimonial .carousel {
    color: #1d2c3c;
    text-align: center;
	}
#testimonial .carousel-indicators li {
    background-color: #006c8c;
    }
#testimonial .author + .company {
    padding-top: 7px;
    }
#testimonial .company {
    color: #006c8c;
    }

/* =========================== */
/* ==========!REGION========== */
/* =========================== */

/* ----------!BODY---------- */
#body {
    background-color: #1d2c3c;
	}

/* ----------!ROOT---------- */
#___gatsby {
    padding-top: 50px;
    padding-bottom: 0;
    }
@media (min-width: 992px) {
    #___gatsby {
        padding-top: 80px;
        padding-bottom: 0;
        }
    }

/* ----------!HEADER---------- */
#header {
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7;
    box-shadow: 0 2px #f7f7f7;
    }
#header .logo {
    margin-top: 3px;
    margin-bottom: -3px;
    width: 117px;
    height: 30px;
    }
@media (min-width: 992px) {
    #header .logo {
        margin-top: -5px;
        margin-bottom: -12px;
        width: 183px;
        height: 47px;
        }
    }

/* ----------!MAIN---------- */
#main {
    background-color: #fff;
    }

/* ----------!FOOTER---------- */
#footer,
#footer a {
    font-weight: 300;
    color: #fff;
    }
#footer .footer-first {
    padding-top: 50px;
    padding-bottom: 50px;
    }
@media (min-width: 992px) {
    #footer .footer-first {
        padding-top: 80px;
        padding-bottom: 80px;
        }
    }
#footer .footer-second {
    padding-bottom: 25px;
    }
#footer .copyright {
    margin-bottom: 0;
    }
@media (min-width: 992px) {
    #footer .copyright {
        text-align: right;
        }
	}

/* =============================== */
/* ==========!RESPONSIVE========== */
/* =============================== */

/* ----------!MEDIUM---------- */
@media (max-width: 1199.98px) {
    span > br {
        display: none;
        }
    }

/* ----------!HUGE---------- */
/* @media (min-width: 1440px) {
    .container {
        max-width: 1380px;
        }
    } */

/* ----------!GIANT---------- */
/* @media (min-width: 1712px) {
    .container {
        max-width: 1560px;
        }
    } */
